[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==21.12b0"
mypy = "==0.930"
pylint = "==2.12.2"
pytest = "==6.2.5"
rope = "==0.22.0"
types-requests = "==2.26.3"

[packages]
requests = "==2.27.0"

[requires]
python_version = "3.10"
