[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.3.0"
mypy = "==0.950"
pylint = "==2.13.9"
pytest = "==7.1.2"
rope = "==1.1.1"
types-requests = "==2.27.27"

[packages]
requests = "==2.27.1"

[requires]
python_version = "3.10"
